.contCamper {
  display: flex;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background: #fff;
}

.backgroundImage {
  border-radius: 10px;
  min-width: 292px;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contInfo {
}

.contNamePrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.contPriceFavorites {
  display: flex;
  gap: 12px;
  align-items: center;
}

.titlePrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.btnFavorite {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.favoritesSvg {
  display: flex;
  width: 26px;
  height: 24px;
}

.contRevLoc {
  display: flex;
  margin-bottom: 24px;
}

.text {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  margin-right: 16px;
}

.ratingStar {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.locationSvg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.textLocation {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
}

.textDescription {
  width: 525px;
  white-space: nowrap;
  overflow: hidden; /* Hide extra text */
  text-overflow: ellipsis; /* '...' */
  font-size: 16px;
  margin-bottom: 24px;
}

.contSvgParams {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.svgParamsElem {
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  mix-blend-mode: multiply;
}

.svgParamsLast {
  display: flex;
  align-items: center;
  width: max-content;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  mix-blend-mode: multiply;
  margin-bottom: 24px;
}

.svg {
  margin-right: 8px;
}

.camperBtn {
  border-radius: 200px;
  border: none;
  width: 166px;
  height: 56px;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: #e44848;
  cursor: pointer;
}

.camperBtn:hover {
  background-color: #d84343;
}
