.contRout {
  display: flex;
  background-color: #f7f7f7;
  padding: 28px 0 28px 64px;
  align-items: center;
}

.logo {
  margin-right: 450px;
  cursor: pointer;
}

.logoSvg {
  display: block;
  width: 136px;
  height: 16px;
}

.contUl {
  display: flex;
  gap: 32px;
}

.contLi {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.link {
  color: #101828;
}

.active {
  color: #d84343;
}